body,
.ant-layout {
  background: #03041a;
}
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

@keyframes updatenew {
  from {background: #FFFF9D;}
  to {background: white;}
}
.new {
  animation: updatenew 1s;
}
.logo {
  /* color: #69c0ff; */
  background-image: linear-gradient(-80deg,#0be49b,#14cbd9);
  box-shadow: 0 0 25px 0 #0c7563;
  border-radius: 2px;
  padding: 11px 20px 9px 23px;
  color: #fff;
  letter-spacing: .01px;
  cursor: pointer;
  font-weight: normal;
  font-size: 20px;
}

.search-btn {
  float: right;
}

.ant-layout-header,
.ant-layout-content,
.ant-layout-footer {
  background: #03041a;
}

@media (min-width: 1300px) {
  .ant-layout-header,
  .ant-layout-content {
    width: 1180px;
    margin: 0 auto;
  
  }
}

.ant-layout-header {
  margin-top: 30px;
}

.ant-layout-footer {
  color: hsla(0,0%,83%,.5);
}

.ant-layout-content .search-bar .ant-input-suffix button {
  background-image: linear-gradient(-80deg,#0be49b,#14cbd9);
  border-color: #0be49b;
}

/* .table-custom , */
.table-custom .ant-table-thead > tr > th {
/* .table-custom .ant-table-tbody > tr > td  { */
  background: #222339;
  color: #fff;
  font-weight: bold;
}

.table-custom .ant-table-thead > tr:first-child > th:first-child {
  border-top-left-radius: 2px !important;

}

.table-custom .ant-table-thead > tr:first-child > th:last-child {
  border-top-right-radius: 2px !important;

}



.table-custom .ant-table-tbody > tr > td,
.table-custom .ant-table-tbody > tr > td a {
  color: #212629;
}

.table-custom .ant-table-tbody > tr > td a {
  font-weight: bold;
  text-decoration: underline;
}